<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FlashPaperDir" value="C:\Users\LayersSss\Desktop\FlashPaper2.2\"/>
    <add key="RepositoryUrl" value="http://test.goclassing.com/"/>
    <add key="Timeout" value="30"/>
    <add key="ConvertProcessNames" value="FlashPrinter,WINWORD,AcroRd32,POWERPNT,EXCEL"/>
    <add key="UploadApUrl" value="http://test.goclassing.com:8000/Upload.goclassing"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicesSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test.goclassing.com/webservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServicesSoap"
        contract="ServiceReference1.WebServicesSoap" name="WebServicesSoap" />
    </client>
  </system.serviceModel>
</configuration>