<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
$GCRender:$
$GCArray:onlineFriends$
                    <div class="teacher">
                        <a href="/T/$GCArrayText:username$">
                            <img src="/Avatars/$GCArrayText:id$.small.jpg" /></a> <span class="mfl-tags-coop">$GCArrayTags:coop$<a
                                href="/$GCArrayTagsText:$/" title="$GCArrayTagsText:$"><img alt="$GCArrayTagsText:$"
                                    title="$GCArrayTagsText:$" src="/Styles/Tags/$GCArrayTagsText:$.gif" /></a>$GCArrayTagsEnds:$</span>
                        <span class="mfl-truename">$GCArrayHtml:truename$</span>
                    </div>
                    $GCArrayEnds:$
$GCRenderEnds:$
</body>
</html>
