<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$title$</title>
    <link href="$baseUrl$Styles/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="$baseUrl$Styles/mail.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <div id="header-content">
            <a href="$baseUrl$" title="上课网">
                <img src="$baseUrl$Styles/header-logo-mail.png" alt="Goclassing" /></a>
        </div>
    </div>
    <div id="main">$content$
    <div id="foot" style="clear:both">
            <a href="$baseUrl$Help/">使用帮助</a> <a href="$baseUrl$Privacy/">隐私声明</a>
            <div class="floatright">
                版权所有 上课网  Goclassing.com © 2011</div>
        </div>
    </div>
</body>
</html>
