<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Debugging" value="True"/>
    <add key="SharedSecret" value="ciop;ej;xczvkpjiotuqeiro321u490-jcxzn"/>
  </appSettings>
  <connectionStrings>
    <add name="MFLEntities" connectionString="metadata=res://MFL/Model1.csdl|res://MFL/Model1.ssdl|res://MFL/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=MFL;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
  </system.web>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="WebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WebServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://testing.admin.xunnlv.com/WebService.asmx"
    binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
    contract="AdminService.WebServiceSoap" name="WebServiceSoap" />
   <endpoint address="http://testing.hotel.xunnlv.com/webservice.asmx"
    binding="basicHttpBinding" bindingConfiguration="WebServiceSoap1"
    contract="LodgeService.WebServiceSoap" name="WebServiceSoap1" />
  </client>
 </system.serviceModel>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
  </system.webServer>
</configuration>
