$IncludeText:pre_content$
                <div id="map">
                 <img src="http://api.map.baidu.com/staticimage?width=910&height=600&zoom=15&center=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$&markers=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$" />   
                </div>
            </div>
        </header>
    <!--==============================content================================-->
        <section id="content">
            <div class="bg">
                <div class="main container_16">
					<h3>交通位置</h3>
					$MFLHtml:lodgeTraffic$
                </div>
            </div>
        </section>
$IncludeText:post_content$