$IncludeText:pre_content$
                <div id="js">
                    <!-- Start Advanced Gallery Html Containers -->
                    <div id="controls"></div>
                    <div id="gallery" class="content">
                      <div class="slideshow-container">
                        <div id="slideshow" class="slideshow"></div>
                      </div>
                    </div>
                    <div id="thumbs" class="navigation">
                      <ul class="thumbs noscript">
					    $MFLArray?:roomAlbum$
						<li> 
							<a class="thumb" name="leaf" href="$MFLArrayText:roomPhotoUrl$" title="$MFLArrayText:roomPhotoContent$"> 
							<img src="$MFLArrayText:roomPhotoUrlSmall$" alt="$MFLArrayText:roomPhotoTitle$" /> </a>
						</li>
						$MFLArrayEnds:$
                      </ul>
                    </div>
                    <!-- END Advanced Gallery Html Containers -->
                  </div>
            </div>
        </header>
    <!--==============================content================================-->
        <section id="content">
            <div class="bg">
                <div class="main container_16">
                    <h2>房间展示</h2>
					<div class="room-list-module">
						$MFLArray?:lodgeRooms$
						<div class="room-list">
						<a class="$MFLArrayShowIf:roomCurrent,active$" href$MFLArrayShowIf:roomCurrent,Current$="room$MFLArrayText:roomId$.htm">
						<p>$MFLArrayText:roomName$<span class="roomPrize">￥$MFLArrayText:roomPrize$/晚</span></p>
						<ul>$MFLArrayText:roomAttributes$</ul>
						</a>
						</div>
						$MFLArrayEnds:$
					</div>
                </div>
            </div>
        </section>
$IncludeText:post_content$