<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="SharedSecret" value="rqeqiopjxzlknm,t.reklcuxizo" />
        <add key="HttpRoot" value="http://t.service.gebimai.com/" />
        <add key="MonoServerDefaultIndexFiles" value="Default.htm" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off">
        </customErrors>
    </system.web>

    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="." mimeType="text/html" />
            <mimeMap fileExtension=".list" mimeType="text/html" />
            <mimeMap fileExtension=".user" mimeType="text/html" />
            <mimeMap fileExtension=".course" mimeType="text/html" />
            <mimeMap fileExtension=".sender" mimeType="text/html" />
            <mimeMap fileExtension=".admin" mimeType="text/html" />
            <mimeMap fileExtension=".orders" mimeType="text/html" />
            <mimeMap fileExtension=".codex" mimeType="text/html" />
        </staticContent>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ScriptModule-4.0" />
            <add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="" />
        </modules>
        <caching enabled="false" enableKernelCache="false">
            <profiles>
                <add extension=".user" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".htm" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".sender" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".admin" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".orders" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".list" policy="DisableCache" kernelCachePolicy="DontCache" />
                <add extension=".codex" policy="DisableCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>
