$IncludeText:pre_content$
                <div class="row2">
                	<div class="wrapper">
                    	<div id="map" class="grid_24 alpha">
                        	<img src="http://api.map.baidu.com/staticimage?width=950&height=350&zoom=15&center=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$&markers=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$" /> 
                        </div>
                    </div>
                </div>
            </div>
		</header>
		<!-- content -->
		<section id="content">
			<div class="container_24">
                <div class="wrapper">
					<div class="main container_16">
						<h3>交通位置</h3>
						$MFLHtml:lodgeTraffic$
					</div>  
                </div> 
$IncludeText:post_content$