$IncludeText:pre_content$
                        <div class="kwicks-box" style="padding:30px 40px;">
                                <h2>交通</h2>
                                    <p>$MFLText:lodgeTraffic$</p>
                                        <img src="http://api.map.baidu.com/staticimage?width=900&height=600&zoom=15&center=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$&markers=$MFLText:lodgeLongtitude$,$MFLText:lodgeLatitude$" />
                                        <div class="clearfix"></div>
                        </div>
$IncludeText:int_content$
$IncludeText:post_content$