$IncludeText:pre_content$
	<div class="kwicks-box" style="padding:30px 40px;">
		<div class="resv-note module-bg">
			<h2>订房需知</h2>
			<div>$MFLHtml:lodgeOrder$</div>
		</div>
		<div class="resv-main roomQuery">
			<h2>房间查询</h2>
			<div class="rq-datepicker"></div>
			<table>
			<caption class="rq-head">
				<span class="rq-date">2011年11月24号</span>入住情况<span class="count availableCount">5房间可预订</span>
				
			</caption>
			<tbody class="rq-container">
			</tbody>
		</table>
		</div>  
		<script type="text/javascript" language="javasctipt">
			$(function(){
				$('.roomQuery').roomQuery({
					datepickerOption:{
						numberOfMonths:4
					},
					baseUrl:'$MFLText:baseUrl$',
					rooms:$MFLText:lodgeRooms$
				});
			});
		</script>  
	</div>
$IncludeText:int_content$
$IncludeText:post_content$